/log/*.log
/tmp
db/*.sqlite3
log/*.log
log/*.log.*
*.log
tmp/**/*
work/**/*
doc/api
doc/app
*.sw*
*~
.DS_Store
.idea/**/*
.idea/*
.elasticbeanstalk/
.tags
build
build-*
venv/**/*
data/*
models/*
*.zip
*.pyc
awsrec/*.pyc


