# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600

packages:
  yum:
    git: []
    patch: []
    unzip: []
    ncurses-devel: []
    gcc-c++: []
    gcc-gfortran: []
    atlas-sse3-devel: []
    python27-devel: []
    lapack-devel: []
    libpng-devel: []
    zlib-devel: []

container_commands:
  00-upgrade-pip:
    command: "pip install --upgrade pip"
  01-install-dependencies-for-pyrecsys:
    command: "pip install csc-pysparse networkx divisi2"
  02-download-pyrecsys:
    command: "wget https://github.com/ocelma/python-recsys/archive/master.zip"
  03-unpack-pyrecsys:
    command: "unzip master.zip"
  04-setup-pyrecsys:
    command: "cd python-recsys-master; python setup.py install"
  05-enable-pyrecsys:
    command: "echo -e 'WSGIApplicationGroup %{GLOBAL}\n' >> /etc/httpd/conf.d/wsgi.conf"
  06-restart-httpd:
    command: "service httpd restart"

# vim /etc/httpd/conf.d/wsgi.conf
# Add following line
#   WSGIApplicationGroup %{GLOBAL}
# service httpd restart